{% extends 'magasin/base.html' %}
{% load static %}
{% block body %}
    {% csrf_token %}
	{% for article in list %}
    <div class="card" style="width: 18rem;">
        <img src='{{MEDIA_URL}}{{article.image}}' class="card-img-top" alt="..." height="200px"width="200px">
        <div class="card-body">
			<h5 class="card-title">{{article.libelle}}</h5>
            <p class="card-text"> {{article.img}} </p>
            <p class="card-text"> {{article.prix}} DT. </p><a href="#" class="btn btn-primary">Savoir plus sur le produit</a>
         </div>
    </div>
	{% endfor %}
{% endblock %}